<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission android:name="QUERY_ALL_PACKAGES" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewAndroidBox"
        tools:targetApi="33">
        <activity
            android:name=".view.CalculatetoolActivity"
            android:exported="false"
            android:label="@string/title_activity_calculatetool"
            android:theme="@style/Theme.NewAndroidBox" />
        <activity
            android:name=".view.TodoActivity"
            android:exported="false"
            android:label="@string/title_activity_todo"
            android:theme="@style/Theme.NewAndroidBox" />
        <activity
            android:name=".view.DownloaderActivity"
            android:exported="false"
            android:label="@string/title_activity_downloader"
            android:theme="@style/Theme.NewAndroidBox" />
        <activity
            android:name=".view.FavoritesActivity"
            android:exported="false"
            android:label="@string/title_activity_favorites"
            android:theme="@style/Theme.NewAndroidBox" />
        <activity
            android:name=".view.AppActivity"
            android:exported="false"
            android:label="@string/title_activity_app"
            android:theme="@style/Theme.NewAndroidBox" />
        <activity
            android:name=".view.QrcodeActivity"
            android:exported="false"
            android:label="@string/title_activity_qrcode"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.NewAndroidBox">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NewAndroidBox">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>